.cocktail-details {
    width: 100%;
    margin-top: 40px;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    span {
        width: 40%;
        border-top: solid 2px #e0dede;
    }

    h2 {
        cursor: pointer;
    }
}

.details {
    display: flex;
    margin-top: 24px;
    .side {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    span {
        width: 400px;
        padding: 12px;
        border-radius: 6px;
        border: 1px solid #0093d2;
        background-color: #c5eeff;
        margin-bottom: 40px;
    }
}

button {
    width: 150px;
}
